.password-strength-bar {
  width: 100%;
  height: 10px;
  background-color: #ccc;
  margin-top: 10px;
  position: relative;
}

.bar {
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.segment {
  height: 100%;
  width: 25%;
  position: absolute;
  top: 0;
  left: 0;
  border-right: 1px solid #fff;
  box-sizing: border-box;
}

.segment:nth-child(2) {
  left: 25%;
}

.segment:nth-child(3) {
  left: 50%;
}

.segment:nth-child(4) {
  left: 75%;
}

.security-message {
  margin-top: 10px;
  font-weight: bold;
}

/* Estilos para los diferentes niveles de seguridad */
.bar.level-25 {
  background-color: #ff0000;
}

.bar.level-50 {
  background-color: #ffa500;
}

.bar.level-75 {
  background-color: #ffff00;
}

.bar.level-100 {
  background-color: #00ff00;
}
